:root {
    --main-color: rgba(7, 114, 180, 0.801);
}
/****RESET*****/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url("./imagens/img_fundo.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: roboto;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}

/*************************CONTAINER***********************/
.container {
    display: grid;
    grid-template-columns: 10% 60% 20% 10%;
    grid-template-rows: 5fr minmax(300px, 89vh) 5fr;
    grid-template-areas: 
        ". header header ."
        ". section aside ."
        ". footer footer .";
}
/***************************HEADER***********************/
header {
    grid-area: header;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-areas: 
        "logo nav-right"
    ;
    align-items: center;
    background-color: var(--main-color);
    margin-bottom: 5px;
}
.logo {
    grid-area: logo;
    margin-top: 5px;
    margin-left: 5px;
}
.logo img {
    width: 50%;
    height: 50px;
}
/*.nav-right {
    grid-area: nav-right;
    text-align: center;
}
.nav-right li {
    display: inline-block;
    margin: 0 10px;
}
.fab, .fas {
    font-size: 30px;
    color: blue;
}
/*************************SECTION*************************/
section {
    grid-area: section;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 40% 40%;
    grid-template-areas: 
        "title title"
        "form-group dv-result"
        "dv-table dv-table"
    ;
    background-color: var(--main-color);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    margin-right: 5px;
}
.title {
    grid-area: title;
    display: grid;
    padding: 5px;
    position: relative;
}
.title::before {
    content: "";
    position: absolute;
    left: 15%;
    bottom: 0;
    height: 1px;
    width: 70%;
    border-bottom: 1px solid black;
}
.title h1 {
    text-align: center;
    letter-spacing: 0.2rem;
    color: rgb(223, 233, 240);
}
.title p {
    text-align: justify;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.1rem;
    color: rgb(223, 223, 240);
}
/************************ FORMULÁRIO *****************************/
.form-group {
    grid-area: form-group;
    padding: 5px;
}
.form-title{
    text-align: center;
    margin-bottom: 10px;
    color: rgb(223, 223, 240);
}
.form-input {
    position: relative;
    margin-bottom: 15px;
}
input {
    width: 80%;
    height: 40px;
    font-size: 18px;
    background: transparent;
    border: none;
    outline: none;
    color: rgb(223, 223, 240);
    border-bottom: 1px solid #FFF;
    transition: .25s ease-in-out;
}
label {
    position: absolute;
    top: 0;
    left: 0;
    color: rgb(223, 223, 240);
    transform: translateY(18px);
    transition: .25s ease-in-out;
}
input:focus {
    border-bottom: 2px solid red;
    box-shadow: 0 1px 0 0 red;
}
input:focus + label {
    transform: translateY(-10px);
    font-weight: bold;
}
input:not(:placeholder-shown) + label {
    transform: translateY(-10px);
}
input:not(:placeholder-shown) {
    border-bottom: 2px solid red;
    box-shadow: 0 1px 0 0 red;
}
input::placeholder {
    color: transparent;
}
button {
    width: 80%;
    background: rgb(208, 222, 231);
    color: rgb(43, 51, 56);
    font-weight: bold;
    font-size: 20px;
    padding: 5px 30px;
    border: none;
    cursor: pointer;
}
.dv-result {
    grid-area: dv-result;
    position: relative;
}
.dv-result::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 20%;
    height: 70%;
    border-left: 1px solid black;
}
#result {
    text-align: center;
    font-size: 30px;
    margin-top: 50px;
    color: rgb(208, 222, 231);
}
.dv-table {
    grid-area: dv-table;
}
table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    color: #fff;
}
table, td, th {
    border: 1px solid #000;
}
td, th {
    padding: 3px;
    font-size: 20px;
    text-align: center;
}
aside {
    grid-area: aside;
    display: flex;
    flex-direction: column;
}
aside img {
    max-width: 100%;
    margin-bottom: 4px;
}

footer {
    grid-area: footer;
    display: flex;
    background-color: var(--main-color);
    margin-top: 5px;
    justify-content: center;
    align-items: center;
    color: white;

}
@media screen and (max-width: 600px) {
    .container {
        display: flex;
        flex-direction: column;
    }
    .logo img {
        width: 100%;
        height: 50px;
    }
    .title h1 {
        font-size: 18px;
    }
    .title p {
        font-size: 12px;
    }
    section {
        display: flex;
        flex-direction: column;
    }
    table {
        font-size: 10px;
    }
    td, th {
        font-size: 12px;
        text-align: center;
    }
    .form-group {
        text-align: center;
    }
    label {
        margin-left: 50px;
    }
}